/config/parameters.yml
/files/*.sqlite
/files/bootstrap.php.cache
/files/cache/*
/files/logs/*
/files/db/*
/files/testing/*
/files/doctrine/*
!files/cache/.gitkeep
!files/logs/.gitkeep
/vendor/
/composer.phar