<div id="bible-ui">
    <div class="reading-area row">
        <div class="books col-sm-1 col-md-1 col-xs-1">
            <ul class="h-nav">
                <li ng-repeat="book in books">
                    <a 
                        ng-attr-class="{{book[1] == context.book[1] && 'active'|| ''}}"
                        ng-click="context.book = book;
                                change.book();">{{book[1]}}</a>
                </li>
            </ul>
        </div>
        <div class="chapters col-sm-1 col-md-1 col-xs-1">
            <ul class="h-nav">
                <li ng-repeat="chapter in chapters">
                    <a 
                        ng-attr-class="{{chapter == context.chapter && 'active'|| ''}}"
                        href ng-click="context.chapter = chapter;
                                change.chapter();">Chương {{chapter}}</a>
                </li>
            </ul>
        </div>
        <div class="verses col-sm-12 col-md-12 col-xs-12">
            <div
                ng-repeat="verse in verses"
                ng-attr-class="verse {{verse.highlight && 'highlight'|| ''}}"
                ng-click="verse.highlight = verse.highlight ? false : true">
                <sup>{{verse.number}}.</sup>
                {{verse.body}}
            </div>
        </div>
    </div>
</div>

<form id="bibleSearchForm" title="Search by keywords">
    <div class="form-group">
        <label>Translation</label>
        <select ng-modal="search.version" class="form-control">
            <option value="version.name" ng-repeat="version in versions">{{version.writing}}</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" ng-model="search.keywords" placeholder="Keywords" required />
    </div>

    <button type="submit" class="btn btn-default" ng-click="doSearch()">Search</button>
</form>
