<div id="bible-ui">
    <div class="reading-area row">
        <div class="col-sm-1 col-md-1 col-xs-1 books">
            <ul class="h-nav">
                <li ng-repeat="book in books">
                    <a 
                        ng-attr-class="{{book[1] == context.book[1] && 'active'|| ''}}"
                        ng-click="context.book = book;
                                change.book();">{{book[1]}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-1 col-md-1 col-xs-1 chapters">
            <ul class="h-nav">
                <li ng-repeat="chapter in chapters">
                    <a 
                        ng-attr-class="{{chapter == context.chapter && 'active'|| ''}}"
                        href ng-click="context.chapter = chapter;
                                change.chapter();">Chương {{chapter}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 verses">
            <div
                ng-repeat="verse in verses"
                ng-attr-class="verse {{verse.highlight && 'highlight'|| ''}}"
                ng-click="verse.highlight = verse.highlight ? false : true">
                <sup>{{verse.number}}.</sup>
                {{verse.body}}
            </div>
        </div>
    </div>
</div>
