<div id="bible-ui">
    <div class="jumbotron">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle">
                {{context.book[1]}}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="book in books">
                    <a ng-click="context.book = book;
                            change.book();">{{book[1]}}</a>
                </li>
            </ul>
        </div>

        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle">
                Chương {{context.chapter}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="chapter in chapters">
                    <a href ng-click="context.chapter = chapter;
                            change.chapter();">Chương {{chapter}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div
        ng-repeat="verse in verses"
        ng-attr-class="{{verse.highlight && 'highlight'|| ''}}"
        ng-click="verse.highlight = verse.highlight ? false : true">
        <sup>{{verse.number}}</sup>
        {{verse.body}}
    </div>
</div>
